/* IMPORTAÇÕES */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400&display=swap');

:root {
    --dourado: #dbb645;
}

/* GERAL DA PÁGINA */

* {
    margin: 0;
}

body {
    background: rgb(74,74,74);
    background: linear-gradient(326deg, rgba(74,74,74,1) 22%, rgba(0,0,0,1) 100%);
}


/* NAVBAR */

nav {
    display: flex;
    justify-content: space-around;
    background-color: #f2cb05;
    font-family: 'DM Sans', sans-serif;
    padding: 30px;
}

.portfolio {
    color:  white;
    font-size: 25px;
    letter-spacing: 4px;
    transition: 0.30s;
}

.nav-itens {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px;
}

.nav-itens a {
    text-decoration: none;
    margin: 10px;
    color: white;
    transition: 0.30s;
}

a.without {
    color: black;
} 

.with:hover {
    opacity: 0.7;
    color: white;
}
/* MAIN */

.content {
    font-family: 'Raleway', sans-serif;
    color: #f4f4f4;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 200px;
    padding-bottom: 30px;
}

.content h1 {
    text-align: center;
    margin: 5px;
    font-size: 50px;
    color: #f2cb05;
    transition: 0.30s;
}

.content h1:hover {
    color: white;
}

.content h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 25%;
    margin-right: 25%;
}

.content p {
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 20px;
    text-align: right;
    font-size: small;
}

/* CAIXAS DE PROJETOS */

.p-box {
    border: 1px solid #f2cb05;
    display: flex;
    grid-template-columns: 1fr 1fr;
    background-color: #f2cb05;
    width: 600px;
    margin-left: 25%;
    margin-right: 25%;    
}

.p-box img {
    border: 1.5px solid #f2cb05;
    margin: 3px;
    margin-bottom: 0px;
}

.description {
    border: 1.5px solid #f2cb05;
    background-color: black;
    margin: 3px;
}

.description h3 {
    color: #f2cb05;
    margin-top: 5px;
    margin-left: 5px;
}

.description p {
    margin: 5px;
    text-align: justify;
    font-size: small;
}

.description a {
    color: #f2cb05;
    transition: 0.30s;
}

.description a:hover {
    color: white;
}

/* RODAPÉ 1 */

.rodape1 {
    background-color: #f7d427;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    padding: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.rodape1 p {
    margin-bottom: 25px;
}

.icones {
    display: flex;
    justify-content: center;
    
}

.icon ion-icon {
    color: black;
    margin: 5px;
    transition: 0.30s;
}

.icon ion-icon:hover {
    color: white;
}

/* RODAPÉ 2 */

.rodape2 {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: #c9ad20;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    padding-right: 3%;
    font-size: small;
    align-items: center;
}

.itens-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

.itens-list li {
    margin: 5px;
}

.itens-list a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.itens-list a:hover {
    color: black;
}